.header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #030514, #0c1524e3);
  border-radius: 0 0 24px 24px;
  overflow: hidden;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  gap: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-base) var(--spacing-lg);
  color: var(--color-light-text);
  height: 3rem;
}

.logo {
  font-family: var(--font-primary);
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--color-light-text);
}

.logo:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 25px rgba(255, 255, 255, 1);
  cursor: pointer;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-light-text);
}

.header-main {
  padding: var(--spacing-base) var(--spacing-sm);
  color: var(--color-light-text);
  max-width: 800px;
  margin: 0 auto;
}

.title-header {
  font-size: var(--font-size-4xl);
  margin-bottom: var(--spacing-base);
}

.profile-bio {
  font-size: var(--font-size-base);
  line-height: 1.6;
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    padding: var(--spacing-sm);
  }

  .header-main {
    padding: var(--spacing-base) var(--spacing-sm);
  }

  .title-header {
    font-size: var(--font-size-3xl);
  }

  .profile-bio {
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 480px) {
  .header-top {
    padding: var(--spacing-sm);
  }

  .title-header {
    font-size: var(--font-size-2xl);
  }
}